BasedOnStyle: Google
Language: Cpp
Standard: c++17
AccessModifierOffset: -1
AlignAfterOpenBracket: DontAlign
AllowShortIfStatementsOnASingleLine: WithoutElse
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false
  AfterFunction: false
  AfterNamespace: false
  SplitEmptyRecord: true
BreakConstructorInitializers: BeforeColon
ColumnLimit: 120
IndentWidth: 2
PointerAlignment: Right
SortIncludes: Never
SpaceBeforeCtorInitializerColon: true
SpaceBeforeParens: ControlStatements
UseTab: Never
